<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>우리 동네 약국</title>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <!--부트스트랩 js, jquery 추가-->
    <script defer src="/js/lib/jquery.min.js"></script>
    <script defer src="/js/lib/bootstrap.min.js"></script>
</head>
<body style="background: url('/images/pharmacy.jpg') no-repeat center; background-size : cover; height: 100vh;">
    <div>
        <div class="container w-50" style="margin-top: 100px;">
            <div>
                <h2>우리 동네 약국</h2>
            </div>
            <div class="body">
                <form action="/search" method="post">
                    <div>
                        <label for="address">주소를 입력하시면 주소 기준 반경 10km에 위치한 약국의 위치를 확인할 수 있습니다.</label>
                        <input type="text" class="form-control mb-3" id="address" name="address"
                               placeholder="주소(지번 또는 도로명)를 입력하세요. ex) 서울특별시 강남구 테헤란로 507" readonly>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" id="btn-save">약국 찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        window.onload = function () {
            document.querySelector("#address").addEventListener('click', () => {
                new daum.Postcode({
                    oncomplete: function(data) {
                        document.querySelector("#address").value = data.address;
                    }
                }).open();
            });
        }
    </script>
</body>
</html>